* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins;
    --webkit-font-smoothing: antialiased;
    background: #EFF0F5;
}

.layout {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 40px 0px 80px;
}

header a {
    background: #007AFF;
    border-radius: 8px;

    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 30px;
    filter: drop-shadow(0px 2px 4px rgba(0, 122, 255, 0.2));
}

.apresentacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: relative;
}

.apresentacao img {
    max-width: 100%;
}

.apresentacao h1 {
    font-size: 65px;
    line-height: 97px;
    font-weight: 600;
}

.apresentacao p {
    font-size: 28px;
    line-height: 42px;
    margin-top: 24px;
}

span.ponto {
    color: #007AFF; 
}

.onde-estudo {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 160px 0 0 0;

}

.onde-estudo h1 {
    font-weight: 600;
    font-size: 55px;
    line-height: 82px;
}

.onde-estudo div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 80px 0 0 0;
}

#quem-sou {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 160px 0 0 0;
}

#quem-sou h1 {
    font-weight: 600;
    font-size: 55px;
    line-height: 82px;
}

#quem-sou p {
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;

    color: #2F3037;

    max-width: 481px;
    margin: 30px 0 0 0;
}

.rodape {
    display: flex;
    justify-content: center;
    margin: 120px 0 0 0;
    padding: 40px 0;
}

.circulo {
    position: absolute;
    z-index: -1;
}

@media(max-width: 780px) {
    .apresentacao {
        flex-direction: column;
        align-items: flex-start;
    }

    .apresentacao div {
        margin-top: 40px;
    }
   
    .apresentacao h1 {
        font-size: 40px;
        line-height: 44px;
        font-weight: 600;
    }

    .apresentacao p {
        font-size: 20px;
        line-height: 42px;
    }

    .onde-estudo {
        margin: 40px 0 0 0;
    }

    .onde-estudo div {
        flex-direction: column;
        margin: 20px 0 0 0;
        align-items: flex-start;
    }

    .onde-estudo div img {
        margin: 16px 0 0 0;
    }

    #quem-sou {
        flex-direction: column;
        margin: 80px 0 0 0;
    }

    #quem-sou img {
        max-width: 100%;
    }

    #quem-sou h1 {
        margin: 20px 0 0 0;
    }

    .rodape {
        margin: 40px 0 0 0;
    }

    .circulo {
        display: none;
    }
}